.header
{
    height: 100px;
    border: 5px double #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.h1
{
    font-family: chopin;
    font-weight: 400;
    font-size: 40px;
    color: #333;
    cursor: pointer;
}